.badge {
    background-color: tomato;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    
    /* position: absolute는 가장가까운 relative를 가진 부모
    기준으로 움직인다!! */
}