button {
    border: none;
    width: 120px;
    height: 45px;
    border-radius: 20px;
    font-size: 17px;
    background-color: var(--green);
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
button:hover {
    cursor: pointer;
}
.music-controller-body {
    display: flex;
    justify-content: center;
    background-color: none;
}
.music-controller {
    border-radius: 30px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: 600px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-sizing: border-box;
    position: relative;
    opacity: 0.8;
}

.screen-music__header {
    width: 100%;
    margin-top: 30px;
}
.screen-music__header__icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.image-box {
    margin-bottom: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.image-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.music-button {
    margin: 15px 0px;
}
.music-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    background-color: white;
    overflow-y: scroll;
    
}
/* 아래의 모든 코드는 영역::코드로 사용 */
.music-list::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

.music-list::-webkit-scrollbar-thumb {
     /* 스크롤바의 길이 */
    background: none; /* 스크롤바의 색상 */
}

.music-list::-webkit-scrollbar-track {
    background: none;  /*스크롤바 뒷 배경 색상*/
}
.music-lists {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-height: 100px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px;
    transition: all 0.5s ease-in-out;
}
.music-lists:hover {
    scale: 1.1;
}
.music-lists img{
    width: 40px;
}
.music-lists div{
    padding: 5px;
}
.music-lists div>p{
    margin-bottom: 10px;
    font-size: 14px;
}
.music-lists div>h3{
    font-weight: 600;
}

.music-lists:nth-child(2) {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px;
    position: relative;
    font-size: 22px;
}
.headphone{
    position: absolute;
    left: 30px;
}

.music-bar {
    box-sizing: border-box;
    padding: 0px 30px;
    width: 350px;
    height: 70px;
    background-color: var(--green);
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 10px;
    bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.music-bar__info p{
    font-size: 14px;
    color: gray;
    margin-bottom: 8px;
}
.music-bar__status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}